<div class="content-left">

  <div class="zalo">
    <a href="https://zalo.me/84876526226" target="_blank">
      <img src="/images/logo-zalo-vector-trungthanhprint-9.png" title="zalo" />
    </a>
  </div>
  <div class="facebook">
    <a href="https://www.facebook.com/profile.php?id=61552032287954" target="_blank">
      <img src="/images/logo-zalo-vector-trungthanhprint-9.png" title="zalo" />
      Chat Facebook
    </a>
  </div>
  <div class="telephone">
    <a href="tel:0876526226">
      Tel: 0876.526.226
      <i class="fa fa-phone"></i>
    </a>
  </div>
  <div class="facebook">
    <a href="https://zalo.me/84333133942" target="_blank"> Chat Facebook </a>
  </div>
</div>
