body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  min-height: 100vh;
}

.header-top {
  position: sticky;
  top: 0;
  z-index: 1;
}

.text-header {
  font-size: 38px;
  margin: 10px 0;
  padding-top: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Đảm bảo chiều cao tối thiểu là 100% viewport */
}

.content {
  flex: 1;
  margin-top: 30px;
  display: flex;
}

.content-left {
  width: 20%;
}

.content-mid {
  width: 60%;
  margin-bottom: 20px;
}

.content-right {
  width: 20%;
}

.description-brand-header {
  width: 100%;
  background-color: #eba83e;
  padding: 5px;
  border-top: 1px solid black;
  text-transform: uppercase;
  font-weight: bold;
}

.description-brand-content {
  margin: 5px 0px;
  text-align: justify;
  line-height: 1.6;
}

.product-brand-header {
  background-color: #eba83e;
  padding: 5px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.product-brand-header a {
  color: black;
}

.product-brand-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.product-brand-item {
  width: 284px;
  height: 470px;
  border: 0.5px solid gray;
  padding: 10px;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

.product-item-name {
  text-decoration: none;
  font-weight: 600;
  margin-top: 10px;
  font-size: 13px;
  color: black;
}

.product-item-price {
  color: red;
  font-weight: 600;
}

.product-button-buy {
  margin-top: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #eba83e;
  color: black;
}

.product-item-image {
  height: 350px;
}

/* contact css */
.zalo {
  width: 60px;
  position: fixed;
  left: 20px;
  bottom: 100px;
  background-color: white;
  border-radius: 5px;
}

.facebook {
  width: 130px;
  position: fixed;
  left: 20px;
  bottom: 60px;
  background-color: #2a6496;
  border-radius: 20px;
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
}

.facebook a {
  color: white;
}

.telephone {
  width: 230px;
  background-color: #12d843;
  position: fixed;
  left: 20px;
  bottom: 5px;
  border-radius: 20px;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-weight: 800;
  font-size: 18px;
}

.telephone a {
  color: white;
}

.fa-phone {
  background-color: #d72928;
  padding: 15px;
  border-radius: 50%;
  position: fixed;
  left: 210px;
  bottom: 5px;
}

/* end contact css */

@media only screen and (max-width: 500px) {
  /* màn hình mobile */
  h2 {
    font-size: 1.5rem !important;
    font-weight: 500 !important; 
  }

  .text-header {
    font-size: 20px;
  }

  .product-brand-item {
    width: 50%;
  }

  .product-brand-item {
    height: 390px;
  }

  .product-item-name {
    height: 40px;
  }

  .product-item-image {
    height: 250px;
  }

  .description-brand-content {
    padding: 0 10px;
  }

  .zalo {
    left: 0;
  }

  .facebook {
    left: 0;
  }

  .telephone {
    left: 0;
  }

  .fa-phone {
    left: 190px;
  }
}
