<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Shop hoa Bảo Nam nhận đặt vòng hoa tang lễ tại Hà Đông, vòng hoa viếng tang lễ tại nhà tang lễ quận Hà Đông, bức trướng đám ma giá rẻ giao hoa tận nơi: 0876526226"
    />
    <title>Hoa viếng Hà Nội</title>
    <link rel="canonical" href="https://hoatuoibaonam.com/" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Đặt Vòng Hoa Tang Lễ Tại Hà Nội" />
    <meta
      property="og:description"
      content="Đặt vòng hoa tang lễ hà nội , cửa hàng bán vòng hoa tang lễ uy tín tại Hà Nội, Mẫu vòng hoa tang lễ từ 300k - 3000k"
    />
    <meta property="og:site_name" content="Vòng Hoa Tang Lễ Hà Nội" />
    <link rel="stylesheet" href="/Areas/News/Styles/index.css" />
    <link rel="stylesheet" href="/Areas/Navbar/Styles/index.css" />
    <link rel="stylesheet" href="/Areas/Footer/Styles/index.css" />
    <link rel="stylesheet" href="/Areas/Contact/Styles/index.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/main.css" />
    <style>
      .mySlides {
        display: none;
      }
    </style>
    <link
      href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/95d9b5bfe3.js"
      crossorigin="anonymous"
    ></script>
    <script>
      $(function () {
        $(".header-top").load("/Areas/Navbar/Views/index.html");
      });

      $(function () {
        $(".footer-bottom").load("/Areas/Footer/Views/index.html");
      });
      $(function () {
        $(".content-left").load("/Areas/Contact/Views/index.html");
      });
    </script>
  </head>

  <body>
    <div class="container">
      <!-- Navbar -->
      <div class="header-top"></div>
      <h1 style="text-align: center">Tin tức</h1>
      <hr style="margin: 0" />
      <!-- Body -->
      <div class="content">
        <div class="content-left"></div>
        <div class="content-mid">
          <div class="news-item">
            <div class="news-image">
              <img
                src="https://hoatuoisaigon.vn/uploads/sanpham/vong-hoa-tang-vang-htl398-1642471347-rb8k1.webp"
                alt=""
              />
            </div>
            <div class="news-header">123123123</div>
            <div class="news-content">
              awdkjhawkdjhakjdhkjadhjkahdjkahdjkahdkjahdjkahdjkahdkjahdkjahdkjadhjkawhdjkadhdhdhdhajkdhkjahdjkahdkajwdhk
            </div>
          </div>
        </div>
        <div class="content-right"></div>
      </div>
      <!-- Footer -->
      <div class="footer-bottom"></div>
    </div>
  </body>
  <script src="/js/helper.js"></script>
  <script src="/Areas/News/Js/index.js"></script>
</html>
