<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Shop hoa Bảo Nam nhận đặt vòng hoa tang lễ tại Hà Đông, vòng hoa viếng tang lễ tại nhà tang lễ quận Hà Đông, bức trướng đám ma giá rẻ giao hoa tận nơi: 0876526226" />
  <title>Hoa viếng Hà Nội</title>
  <link rel="canonical" href="https://hoatuoibaonam.com/" />
  <meta property="og:locale" content="vi_VN">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Đặt Vòng Hoa Tang Lễ Tại Hà Nội">
  <meta property="og:description"
    content="Đặt vòng hoa tang lễ hà nội , cửa hàng bán vòng hoa tang lễ uy tín tại Hà Nội, Mẫu vòng hoa tang lễ từ 300k - 3000k">
  <meta property="og:site_name" content="Vòng Hoa Tang Lễ Hà Nội">
  <link rel="stylesheet" href="/Areas/Services/Styles/index.css" />
  <link rel="stylesheet" href="/main.css" />
  <link rel="stylesheet" href="/Areas/Navbar/Styles/index.css" />
  <link rel="stylesheet" href="/Areas/Footer/Styles/index.css" />
  <link rel="stylesheet" href="/Areas/Contact/Styles/index.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet" />
  <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://hoatuoibaonam.com/",
        "logo": "https://hoatuoibaonam.com/images/logo-icon.png"
      }
      </script>
  <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" /> -->
  <script src="https://kit.fontawesome.com/95d9b5bfe3.js" crossorigin="anonymous"></script>
  <script>
    $(function () {
      $(".header-top").load("/Areas/Navbar/Views/index.html");
    });

    $(function () {
      $(".footer-bottom").load("/Areas/Footer/Views/index.html");
    });
    $(function () {
      $(".content-left").load("/Areas/Contact/Views/index.html");
    });
  </script>
</head>

<body>
  <div class="container">
    <!-- Navbar -->
    <div class="header-top"></div>
    <h1 style="text-align: center">
      Dịch vụ tang lễ trọn gói tại Hà Nội | 0876526226
    </h1>
    <hr style="margin: 0" />
    <!-- Body -->
    <div class="content">
      <div class="content-left"></div>
      <div class="content-mid">
        <div>
          Đám tang sẽ được tổ chức trang nghiêm, trọng thể. Các nghi lễ được diễn ra trong không khí trang nghiêm, phần
          nào đó sẽ làm vơi đi những đau thương mất mát của người thân người đã mất. xin gửi đến quý khách hàng Gói dịch
          vụ tang lễ trọn gói với đầy đủ các thủ tục và dịch vụ tốt nhát hiện nay hành giúp khách hàng thể hiện được đầy
          đủ tỉnh cảm, sự trân trọng đối với người đã mất.
        </div>
        <div class="header-content-text">
          Khách hàng được gì khi sử dụng dịch vụ?
        </div>
        <div>
          Khi khách hàng lựa chọn tổ chức đám tang trọn gói chúng tôi sẽ hướng dẫn đồng thời cùng gia đình chuẩn bị tất
          cả những vật phẩm cần thiết phục vụ cho đám tang. Hỗ trợ gia đình cùng gia đình thực hiện từ bước đầu tổ chức
          cho đến khi người thân đã mất được an táng trọn vẹn theo đúng thủ tục an táng của người Việt.
        </div>
        <div class="header-content-text">
          Khách hàng sẽ được hướng đẫn
        </div>
        <div>
          <ul>
            <li>Hướng dẫn cách sử dụng nhang, đèn, các vật phẩm cần thiết khi người thân vừa mất cho gia đình.
            </li>
            <li>Hướng dẫn các quy trình tổ chức và các nghi thức theo đúng văn hóa của từng vùng miền, tôn giáo.
            </li>
            <li>Hướng dẫn cách làm mâm cơm cúng theo đúng phong tục riêng của từng vùng miền, tôn giáo.
            </li>
          </ul>
        </div>
        <div class="header-content-text">
          Những thủ tục có trong dịch vụ tang lễ trọn gói
        </div>
        <div>
          <ul>
            <li>Hỗ trợ tắm rửa thay đồ cho người mất.
            </li>
            <li>Phục vụ trang trí đám tang theo đúng phong tục của vùng miền và tôn giáo
            </li>
            <li>Hỗ trợ xem phong thủy ngày giờ đẹp để tổ chức tẩn niệm, di quan và động quan.
            </li>
            <li>Phục vụ thực hiện nghi thưc mai táng theo đúng phong thục tập quán vùng miền và tôn giáo
            </li>
            <li>Phục vụ tẩn niệm di quan tới nơi an nghỉ cuối cùng.
            </li>
            <li>Cung cấp xe tang lễ
            </li>
            <li>Cung cấp nhạc tang lễ
            </li>
          </ul>
        </div>
        <div class="header-content-text">
          Các vật phẩm tang lễ kèm theo:
        </div>
        <div>
          <ol>
            <li>Áo quan hỏa táng
            </li>
            <li>Phủ Y Quan
            </li>
            <li>Lẵng hoa áo quan
            </li>
            <li>Túi đồ khâm niệm
            </li>
            <li>Đá khô CO2
            </li>
            <li>Nến cốc
            </li>
            <li>Người khâm niệm
            </li>
            <li>Bàn thờ vong tại nhà
            </li>
            <li>Lẵng hoa bàn vong
            </li>
            <li>Đội kèn trống
            </li>
            <li>Áo sơ mi đen
            </li>
            <li>Khăn áo xô + rể tùy
            </li>
            <li>Khăn táng trắng
            </li>
            <li>Hợp đồng hỏa táng
            </li>
            <li>Đăng ký lấy theo giờ
            </li>
            <li>Bộ bình quách
            </li>
            <li>Gói chèn hài cốt
            </li>
            <li>Hoa nhài vải đỏ + thất bảo
            </li>
          </ol>
        </div>
        <div style="width: 100%; background-color: beige; padding: 15px; box-sizing: border-box;">
          <div>
            Để được tư vấn mọi thông tin chi tiết nhất, vui lòng liên hệ:
          </div>
          <div class="header-content-text">
            Hotline: 0876.526.226 – CSKH
          </div>
        </div>
      </div>
      <div class="content-right"></div>
    </div>

    <!-- Footer -->
    <div class="footer-bottom"></div>
  </div>
</body>
<script src="/js/helper.js"></script>

</html>