body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.header-top {
  position: sticky;
  top: 0;
  z-index: 1;
}

.content {
  margin-top: 30px;
  display: flex;
}

.content-left {
  width: 20%;
}

.content-mid {
  width: 60%;
  margin-bottom: 20px;
}

.content-right {
  width: 20%;
}

.content-mid-left {
  width: 50%;
}

.content-mid-right {
  width: 50%;
  padding: 0 20px;
}

.image-product-detail {
  width: 90%;
}

img {
  width: 100%;
}

.product-name {
  font-size: 23px;
  font-weight: 650;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.product-feedback-star {
  margin-bottom: 20px;
}

.product-price {
  font-size: 25px;
  font-weight: bold;
  color: red;
  margin-bottom: 20px;
}

.woocommerce-product-details__short-description {
  padding: 10px 15px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 6px #ccc;
  font-size: 15px;
}

.product-contact-order-title {
  font-weight: bolder;
  margin-bottom: 20px;
}

.benefit-order-customer {
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
}

.zalo {
  width: 50px;
  position: fixed;
  left: 20px;
  bottom: 0;
}

.product-contact-order-zalo {
  width: 200px;
  height: 50px;
  background-color: #2a6496;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.content-mid-bot {
  border-top: 1px solid gray;
  padding: 20px 0;
}

.content-mid-bot-content {
  margin-top: 20px;
  border: 1px solid rgb(120, 120, 120);
  border-radius: 10px;
  height: 100px;
  padding: 20px 40px;
  color: rgb(120, 120, 120);
}

.review-rating__summary {
  display: flex;
}

.review-rating__point {
  font-size: 40px;
  margin-right: 10px;
}

.content-mid-container {
  display: flex;
  margin-bottom: 20px;
}

@media only screen and (max-width: 500px) {
  /* màn hình mobile */
  .content-mid-container {
    display: block;
  }

  .content-mid-left {
    width: 100%;
    margin-bottom: 20px;
  }

  .content-mid-right {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .image-product-detail {
    width: 100%;
  }
}
