body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.header-top {
  position: sticky;
  top: 0;
  z-index: 1;
}

.content {
  margin-top: 30px;
  display: flex;
}

.content-left {
  width: 20%;
}

.content-mid {
  width: 60%;
  display: flex;
}

.content-right {
  width: 20%;
}

.content-mid-left {
  width: 50%;
}

.content-mid-right {
  width: 50%;
  padding: 0 20px;
}

.image-product-detail {
  width: 90%;
}

img {
  width: 100%;
}

.product-name {
  font-size: 23px;
  font-weight: 650;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.product-feedback-star {
  margin-bottom: 20px;
}

.product-price {
  font-size: 25px;
  font-weight: bold;
  color: red;
  margin-bottom: 20px;
}

.woocommerce-product-details__short-description {
  padding: 10px 15px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 6px #ccc;
  font-size: 15px;
}

.product-contact-order-title {
  font-weight: bolder;
  margin-bottom: 20px;
}

.benefit-order-customer {
  display: flex;
  flex-direction: column;
}