<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Areas/AdminManageProduct/Styles/index.css">
    <script src="https://kit.fontawesome.com/95d9b5bfe3.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Quản lý sản phẩm</h1>
            <div class="btn-login">
                <button id="addProductBtn">Thêm mới</button>
            </div>
        </div>
        <div class="content">
            <table>
                <thead>
                    <tr>
                        <th style="width: 40px; ">Hành động</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá cũ</th>
                        <th>Giá mới</th>
                        <th>Ảnh sản phẩm</th>
                        <th>Mô tả</th>
                    </tr>
                </thead>
                <tbody id="productTableBody">
                </tbody>
            </table>
        </div>
    </div>

    <div id="addProductModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModalBtn">&times;</span>
            <h2>Thêm mới sản phẩm</h2>
            <form id="addProductForm">
                <label for="productName">Tên sản phẩm:</label><br>
                <input type="text" id="productName" name="productName"><br><br>
                <label for="productPrice">Giá cũ sản phẩm:</label><br>
                <input type="text" id="productOldPrice" name="productOldPrice" oninput="formatNumber(this)">
                <br><br>
                <label for="productPrice">Giá mới sản phẩm:</label><br>
                <input type="number" id="productNewPrice" name="productNewPrice" oninput="formatNumber(this)">
                <br><br>
                <label for="description">Mô tả sản phẩm:</label><br>
                <input type="text" id="description" name="description"><br><br>
            </form>
            <div class="image-picker-2">
                <div class="preview"
                    style="background-image: url('https://photo.znews.vn/w660/Uploaded/mdf_eioxrd/2021_07_06/2.jpg');"
                    onclick="AddImage(this);"></div>
                <input type="file" onchange="AddImage_OnChange(this);" />
                <input type="hidden" value="" id="valueImage" />
            </div>
            <button type="submit" id="insertProduct">Thêm sản phẩm</button>
        </div>
    </div>
</body>
<script src="/js/helper.js"></script>
<script src="/Areas/AdminManageProduct/Js/index.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

</html>