<div class="footer-bottom">
  <div class="footer-left"></div>
  <div class="footer-main">
    <!-- col-3 -->
    <div class="column-footer">
      <div class="header-footer">GỬI ĐIỆN HOA KHẮP HÀ NỘI</div>
      <div class="header-content">
        <div class="content-1">
          Miễn phí giao hoa các quận nội thành: Ba Đình, Đống Đa, Hai Bà Trưng,
          Thanh Xuân, Tây Hồ, Hoàn Kiếm, Hà Đông, Hoàng Mai, Bắc Từ Liêm, Nam Từ
          Liêm, Long Biên, Hoài Đức, …
        </div>
      </div>
    </div>
  </div>
  <div class="footer-right"></div>
</div>