<div class="footer-bottom">
  <div class="footer-left"></div>
  <div class="footer-main">
    <div class="column-footer">
      <div class="header-footer">Shop hoa hà nội</div>
      <div class="header-content">
        Văn phòng: Khu 7, thị trấn Tạm Trôi, huyện Hoài Đức
      </div>
    </div>
    <div class="column-footer">
      <div class="header-footer">Shop hoa hà nội</div>
      <div class="header-content">
        Văn phòng: Khu 7, thị trấn Tạm Trôi, huyện Hoài Đức
      </div>
    </div>
    <div class="column-footer">
      <div class="header-footer">Shop hoa hà nội</div>
      <div class="header-content">
        Văn phòng: Khu 7, thị trấn Tạm Trôi, huyện Hoài Đức
      </div>
    </div>
    <div class="column-footer">
      <div class="header-footer">Shop hoa hà nội</div>
      <div class="header-content">
        Văn phòng: Khu 7, thị trấn Tạm Trôi, huyện Hoài Đức
      </div>
    </div>
  </div>
  <div class="footer-right"></div>
</div>
