<div class="footer-bottom">
  <div class="footer-left"></div>
  <div class="footer-main">
    <!-- col-1 -->
    <div class="column-footer">
      <div class="header-footer">Shop hoa hà nội</div>
      <div class="header-content">
        <div class="content-1">Văn phòng: Khu 7, thị trấn Tạm Trôi, huyện Hoài Đức</div>
        <div class="content-1">Số 04A Lô 32A, KĐT Geleximco A, An Khánh, Huyện Hoài Đức, Hà Nội.</div>
      </div>
      <div class="header-footer">SHOP HOA HỒ CHÍ MINH</div>
      <div class="header-content">
        <div class="content-1">Văn phòng: Khu 7, thị trấn Tạm Trôi, huyện Hoài Đức</div>
        <div class="content-1">Số 04A Lô 32A, KĐT Geleximco A, An Khánh, Huyện Hoài Đức, Hà Nội.</div>
      </div>
    </div>
    <!-- col-2 -->
    <div class="column-footer">
      <div class="header-footer">CHĂM SÓC KHÁCH HÀNG</div>
      <div class="header-content">
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
        </ul>
      </div>
      <div class="header-footer">SHOP HOA HỒ CHÍ MINH</div>
      <div class="header-content">
        <div class="content-1">Văn phòng: Khu 7, thị trấn Tạm Trôi, huyện Hoài Đức</div>
        <div class="content-1">Số 04A Lô 32A, KĐT Geleximco A, An Khánh, Huyện Hoài Đức, Hà Nội.</div>
      </div>
    </div>
  </div>
  <div class="footer-right"></div>
</div>