<!-- <div class="navbar">
  <div class="navbar-item"><a href="/index.html">Trang chủ</a></div>
  <div class="navbar-item"><a href="/Areas/Products/Views/index.html">Hoa viếng</a></div>
  <div class="navbar-item"><a href="tel:0876526226">Liên hệ</a></div>
</div> -->

<div class="topnav" id="myTopnav">
  <a href="/index.html">Trang chủ</a>
  <a href="/Areas/Products/Views/index.html">Hoa viếng</a>
  <a href="/Areas/Services/Views/index.html">Dịch vụ</a>
  <a href="tel:0876526226">Liên hệ</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<script src="/Areas/Navbar/Js/index.js"></script>