<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Funeral Flower</title>
    <link rel="stylesheet" href="../Styles/index.css" />
    <link rel="stylesheet" href="../../Navbar/Styles/index.css" />
    <link rel="stylesheet" href="../../Footer/Styles/index.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/95d9b5bfe3.js"
      crossorigin="anonymous"
    ></script>
    <script>
      $(function () {
        $(".header-top").load("../../Navbar/Views/index.html");
      });

      $(function () {
        $(".footer-bottom").load("../../Footer/Views/index.html");
      });
    </script>
  </head>

  <body>
    <div class="container">
      <!-- Navbar -->
      <div class="header-top"></div>

      <!-- Body -->
      <div class="content">
        <div class="content-left">
          <div class="zalo">
            <a href="https://zalo.me/84333133942" target="_blank">
              <img
                src="../../../images/logo-zalo-vector-trungthanhprint-9.png"
                title="zalo"
              /> </a
            ><a href="https://zalo.me/84333133942" target="_blank">
              <img src="../../../images/facebook-logo.png" title="zalo" />
            </a>
          </div>
        </div>
        <div class="content-mid">
          <div class="content-mid-left">
            <div class="image-product-detail">
              <img src="../../../images/HV-111VN-giá-900k.jpg" alt="" />
            </div>
          </div>
          <div class="content-mid-right">
            <div class="product-name">
              Vòng hoa đám tang lan trắng – Yên Bình
            </div>
            <div class="product-feedback-star">
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="14"
                  viewBox="0 0 32 32"
                >
                  <path
                    fill="#FDD835"
                    fill-rule="evenodd"
                    stroke="#FFB500"
                    stroke-width="1.5"
                    d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z"
                  ></path>
                </svg> </span
              ><span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="14"
                  viewBox="0 0 32 32"
                >
                  <path
                    fill="#FDD835"
                    fill-rule="evenodd"
                    stroke="#FFB500"
                    stroke-width="1.5"
                    d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z"
                  ></path>
                </svg> </span
              ><span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="14"
                  viewBox="0 0 32 32"
                >
                  <path
                    fill="#FDD835"
                    fill-rule="evenodd"
                    stroke="#FFB500"
                    stroke-width="1.5"
                    d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z"
                  ></path>
                </svg> </span
              ><span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="14"
                  viewBox="0 0 32 32"
                >
                  <path
                    fill="#FDD835"
                    fill-rule="evenodd"
                    stroke="#FFB500"
                    stroke-width="1.5"
                    d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z"
                  ></path>
                </svg> </span
              ><span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="14"
                  viewBox="0 0 32 32"
                >
                  <path
                    fill="none"
                    fill-rule="evenodd"
                    stroke="#FFB500"
                    stroke-width="1.5"
                    d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z"
                  ></path>
                </svg>
              </span>
              <span
                style="font-size: 16px; cursor: pointer; letter-spacing: 0px"
                >( <b>11</b> đánh giá )</span
              >
            </div>
            <div class="product-price">2.000.000 VND</div>
            <div class="product-description">
              <div class="woocommerce-product-details__short-description">
                <h3>
                  <em
                    >Vòng hoa đám tang lan trắng – Yên Bình còn có ý nghĩa
                    gì?</em
                  >
                </h3>
                <p>
                  <em
                    >Vòng hoa chính là lời chia buồn sâu sắc đến gia đình khi
                    phải chịu nỗi đau mất mát này. Mỗi lời động viên, an ủi đối
                    với họ chính là những liều thuốc an thần, giúp cho họ bớt
                    đau buồn hơn. Suy nghĩ tích cực hơn trước sự ra đi của người
                    thân. Sinh ly tử biệt là điều không ai muốn nhưng nó là lẽ
                    thường tình. Ta phải biết cách chấp nhận nó. Không quá đau
                    khổ, thê lương.</em
                  >
                </p>
              </div>
              <div class="product-contact-order">
                <div style="width: 200px">
                  <a
                    href="https://zalo.me/84333133942"
                    target="_blank"
                    style="text-decoration: none"
                  >
                    <div
                      class="product-contact-order-zalo"
                      style="margin-bottom: 20px"
                    >
                      <b>
                        <i
                          class="fa-solid fa-cart-shopping"
                          style="margin-right: 10px"
                        >
                        </i
                        >Đặt hoa qua Zalo
                      </b>
                    </div>
                  </a>
                </div>
                <div
                  class="product-contact-order-title"
                  style="margin-bottom: 20px"
                >
                  Hotline đặt hàng (24/7):
                </div>

                <div
                  class="product-contact-order-phone"
                  style="margin-bottom: 20px"
                >
                  Hà Nội:
                  <b
                    ><a
                      href="https://zalo.me/84333133942"
                      target="_blank"
                      style="color: #f76799; text-decoration: none"
                      >02466818088 - 0983698184</a
                    ></b
                  >
                </div>
              </div>
              <div class="benefit-order-customer">
                <span style="margin-bottom: 10px"
                  ><b>QUYỀN LỢI MUA HÀNG</b></span
                >
                <span style="margin-bottom: 5px"
                  ><i>1. Có thể giao hoa gấp trong 30 phút-2h.</i></span
                >
                <span style="margin-bottom: 5px"
                  ><i>2. Miễn phí thiệp, băng rôn chúc mừng.</i></span
                >
                <span style="margin-bottom: 5px"
                  ><i
                    >3. Miễn phí vận chuyển hoa trong nội thành 63 TP.</i
                  ></span
                >
                <span style="margin-bottom: 5px"
                  ><i>4. Có hóa đơn đỏ trực tiếp.</i></span
                >
                <span style="margin-bottom: 5px"
                  ><i>5. Được kiểm tra hàng trước khi thanh toán.</i></span
                >
                <span style="margin-bottom: 5px"
                  ><i>6. Tư vấn có tâm và chính xác.</i></span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="content-right"></div>
      </div>
      <!-- Footer -->
      <div class="footer-bottom"></div>
    </div>
  </body>
</html>
