<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Shop hoa Bảo Nam nhận đặt vòng hoa tang lễ tại Hà Đông, vòng hoa viếng tang lễ tại nhà tang lễ quận Hà Đông, bức trướng đám ma giá rẻ giao hoa tận nơi: 0876526226" />
  <title>Hoa viếng Hà Nội</title>
  <link rel="canonical" href="https://hoatuoibaonam.com/">
  <meta property="og:locale" content="vi_VN">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Đặt Vòng Hoa Tang Lễ Tại Hà Nội">
  <meta property="og:description"
    content="Đặt vòng hoa tang lễ hà nội , cửa hàng bán vòng hoa tang lễ uy tín tại Hà Nội, Mẫu vòng hoa tang lễ từ 300k - 3000k">
  <meta property="og:site_name" content="Vòng Hoa Tang Lễ Hà Nội">
  <link rel="stylesheet" href="../Styles/index.css" />
  <link rel="stylesheet" href="../../Navbar/Styles/index.css" />
  <link rel="stylesheet" href="../../Footer/Styles/index.css" />
  <link rel="stylesheet" href="../../Contact/Styles/index.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="/main.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet" />
  <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://hoatuoibaonam.com/",
        "logo": "https://hoatuoibaonam.com/images/logo-icon.png"
      }
      </script>
  <script src="https://kit.fontawesome.com/95d9b5bfe3.js" crossorigin="anonymous"></script>
  <script>
    $(function () {
      $(".header-top").load("../../Navbar/Views/index.html");
    });

    $(function () {
      $(".footer-bottom").load("../../Footer/Views/index.html");
    });
    $(function () {
      $(".content-left").load("../../Contact/Views/index.html");
    });
  </script>
</head>

<body>
  <div class="container">
    <!-- Navbar -->
    <div class="header-top"></div>
    <h1 style="text-align: center">
      Đặt vòng hoa tang lễ tại Hà Nội | 0876526226
    </h1>
    <hr style="margin: 0" />
    <!-- Body -->
    <div class="content">
      <div class="content-left"></div>
      <div class="content-mid">
        <div class="content-mid-container">
          <!-- source code product detail -->
        </div>
        <div class="content-mid-bot">
          <div class="content-mid-bot-header">
            ĐÁNH GIÁ - NHẬN XÉT TỪ KHÁCH HÀNG
          </div>
          <div class="content-mid-bot-content">
            <div class="review-rating__summary">
              <div class="review-rating__point">0</div>
              <div class="review-rating__stars">
                <div class="Stars__StyledStars-sc-15olgyg-0 dYhelp">
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 32 32">
                      <path fill="none" fill-rule="evenodd" stroke="#FFB500" stroke-width="1.5"
                        d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z">
                      </path>
                    </svg>
                  </span>
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 32 32">
                      <path fill="none" fill-rule="evenodd" stroke="#FFB500" stroke-width="1.5"
                        d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z">
                      </path>
                    </svg>
                  </span>
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 32 32">
                      <path fill="none" fill-rule="evenodd" stroke="#FFB500" stroke-width="1.5"
                        d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z">
                      </path>
                    </svg>
                  </span>
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 32 32">
                      <path fill="none" fill-rule="evenodd" stroke="#FFB500" stroke-width="1.5"
                        d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z">
                      </path>
                    </svg>
                  </span>
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 32 32">
                      <path fill="none" fill-rule="evenodd" stroke="#FFB500" stroke-width="1.5"
                        d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z">
                      </path>
                    </svg>
                  </span>
                  <div class="review-rating__fill-stars" style="width: 1%"></div>
                </div>
                <div class="review-rating__description">0 đánh giá</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-right"></div>
    </div>
    <!-- Footer -->
    <div class="footer-bottom"></div>
  </div>
</body>
<script src="/js/helper.js"></script>
<script src="/Areas/ProductDetail/Js/index.js"></script>

</html>