<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Funeral Flower</title>
  <link rel="stylesheet" href="/Areas/Products/Styles/index.css" />
  <link rel="stylesheet" href="/main.css" />
  <link rel="stylesheet" href="/Areas/Navbar/Styles/index.css" />
  <link rel="stylesheet" href="/Areas/Footer/Styles/index.css" />
  <link rel="stylesheet" href="/Areas/Contact/Styles/index.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet" />
  <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" /> -->
  <script src="https://kit.fontawesome.com/95d9b5bfe3.js" crossorigin="anonymous"></script>
  <script>
    $(function () {
      $(".header-top").load("/Areas/Navbar/Views/index.html");
    });

    $(function () {
      $(".footer-bottom").load("/Areas/Footer/Views/index.html");
    });
    $(function () {
      $(".content-left").load("/Areas/Contact/Views/index.html");
    });
  </script>
</head>

<body>
  <div class="container">
    <!-- Navbar -->
    <div class="header-top"></div>

    <!-- Body -->
    <div class="content">
      <div class="content-left"></div>
      <div class="content-mid">
        <div class="content-mid-left">
          <div class="content-left-header">
            <i class="fa-solid fa-list" style="margin-right: 10px"></i> Tất cả
            danh mục
          </div>
          <div class="content-left-content">
            <!-- <div class="content-left-content-item">Hoa 20/10</div>
              <div class="content-left-content-item active">Hoa sinh nhật</div>
              <div class="content-left-content-item">Hoa hoa cưới</div> -->
            <div class="content-left-content-item">Hoa tang lễ</div>
            <!-- <div class="content-left-content-item">Kiểu dáng hoa</div>
              <div class="content-left-content-item">Hoa hoa tặng ngày lễ</div> -->
          </div>
        </div>
        <div class="content-mid-right">
          <div class="product-sort">
            <div style="margin-right: 20px">Sắp xếp theo</div>
            <div>
              <form>
                <select name="price" id="price">
                  <option>Giá</option>
                  <option value="1">Giá: Thấp đến cao</option>
                  <option value="2">Giá: Cao đến thấp</option>
                </select>
              </form>
            </div>
          </div>
          <div class="product-brand">
            <div class="product-brand-header">
              <div class="brand-header-left">Tang lễ</div>
            </div>
            <div class="product-brand-content">
              <a href="/Areas/ProductDetail/Views/index.html" class="product-brand-item">
                <div class="product-item-image">
                  <img src="../../../images/2-Binh-hoa-chuc-mung_Nang_moi-450x600.jpg" alt="" />
                </div>
                <div class="product-item-name">
                  Bình hoa chúc mừng - Nắng mới
                </div>
                <div class="product-item-price">3.000.000 VND</div>
              </a><a href="/Areas/ProductDetail/Views/index.html" class="product-brand-item">
                <div class="product-item-image">
                  <img src="../../../images/2-Binh-hoa-chuc-mung_Nang_moi-450x600.jpg" alt="" />
                </div>
                <div class="product-item-name">
                  Bình hoa chúc mừng - Nắng mới
                </div>
                <div class="product-item-price">3.000.000 VND</div>
              </a><a href="/Areas/ProductDetail/Views/index.html" class="product-brand-item">
                <div class="product-item-image">
                  <img src="../../../images/2-Binh-hoa-chuc-mung_Nang_moi-450x600.jpg" alt="" />
                </div>
                <div class="product-item-name">
                  Bình hoa chúc mừng - Nắng mới
                </div>
                <div class="product-item-price">3.000.000 VND</div>
              </a><a href="/Areas/ProductDetail/Views/index.html" class="product-brand-item">
                <div class="product-item-image">
                  <img src="../../../images/2-Binh-hoa-chuc-mung_Nang_moi-450x600.jpg" alt="" />
                </div>
                <div class="product-item-name">
                  Bình hoa chúc mừng - Nắng mới
                </div>
                <div class="product-item-price">3.000.000 VND</div>
              </a>
              <a href="/Areas/ProductDetail/Views/index.html" class="product-brand-item">
                <div class="product-item-image">
                  <img src="../../../images/2-Binh-hoa-chuc-mung_Nang_moi-450x600.jpg" alt="" />
                </div>
                <div class="product-item-name">
                  Bình hoa chúc mừng - Nắng mới
                </div>
                <div class="product-item-price">3.000.000 VND</div>
              </a>
              <a href="/Areas/ProductDetail/Views/index.html" class="product-brand-item">
                <div class="product-item-image">
                  <img src="../../../images/2-Binh-hoa-chuc-mung_Nang_moi-450x600.jpg" alt="" />
                </div>
                <div class="product-item-name">
                  Bình hoa chúc mừng - Nắng mới
                </div>
                <div class="product-item-price">3.000.000 VND</div>
                <div class="product-button-buy">
                  <a href="https://zalo.me/84876526226">
                    <i class="fa-solid fa-cart-arrow-down" style="margin-right: 10px"></i>Mua qua Zalo
                  </a>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="content-right"></div>
    </div>

    <!-- Footer -->
    <div class="footer-bottom"></div>
  </div>
</body>
<script src="/js/helper.js"></script>
<script src="/Areas/Products/Js/index.js"></script>

</html>