<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Funeral Flower</title>
    <link rel="stylesheet" href="../Styles/index.css" />
    <link rel="stylesheet" href="../../Navbar/Styles/index.css" />
    <link rel="stylesheet" href="../../Footer/Styles/index.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script>
      $(function () {
        $(".header-top").load("../../Navbar/Views/index.html");
      });

      $(function () {
        $(".footer-bottom").load("../../Footer/Views/index.html");
      });
    </script>
  </head>
  <body>
    <div class="container">
      <!-- Navbar -->
      <div class="header-top"></div>

      <div class="zalo">
        <a href="https://zalo.me/84333133942" target="_blank">
          <img
            src="../../../images/logo-zalo-vector-trungthanhprint-9.png"
            title="zalo"
          />
        </a>
        <a href="https://zalo.me/84333133942" target="_blank">
          <img src="../../../images/facebook-logo.png" title="zalo" />
        </a>
      </div>

      <!-- Body -->
      <div class="content">
        <div class="content-left"></div>
        <div class="content-mid">
          <div class="content-mid-left">123</div>
          <div class="content-mid-right">
            <div class="product-brand">
              <div class="product-brand-header">
                <div class="brand-header-left">Hoa 20/10</div>
                <a href="#"><div class="brand-header-right">Xem tất cả</div></a>
              </div>
              <div class="product-brand-content">
                <a href="facebook.com" class="product-brand-item">
                  <div class="product-item-image">
                    <img
                      src="../../../images/2-Binh-hoa-chuc-mung_Nang_moi-450x600.jpg"
                      alt=""
                    />
                  </div>
                  <div class="product-item-name">
                    Bình hoa chúc mừng - Nắng mới
                  </div>
                  <div class="product-item-price">3.000.000 VND</div> </a
                ><a href="facebook.com" class="product-brand-item">
                  <div class="product-item-image">
                    <img
                      src="../../../images/2-Binh-hoa-chuc-mung_Nang_moi-450x600.jpg"
                      alt=""
                    />
                  </div>
                  <div class="product-item-name">
                    Bình hoa chúc mừng - Nắng mới
                  </div>
                  <div class="product-item-price">3.000.000 VND</div> </a
                ><a href="facebook.com" class="product-brand-item">
                  <div class="product-item-image">
                    <img
                      src="../../../images/2-Binh-hoa-chuc-mung_Nang_moi-450x600.jpg"
                      alt=""
                    />
                  </div>
                  <div class="product-item-name">
                    Bình hoa chúc mừng - Nắng mới
                  </div>
                  <div class="product-item-price">3.000.000 VND</div> </a
                ><a href="facebook.com" class="product-brand-item">
                  <div class="product-item-image">
                    <img
                      src="../../../images/2-Binh-hoa-chuc-mung_Nang_moi-450x600.jpg"
                      alt=""
                    />
                  </div>
                  <div class="product-item-name">
                    Bình hoa chúc mừng - Nắng mới
                  </div>
                  <div class="product-item-price">3.000.000 VND</div> </a
                ><a href="facebook.com" class="product-brand-item">
                  <div class="product-item-image">
                    <img
                      src="../../../images/2-Binh-hoa-chuc-mung_Nang_moi-450x600.jpg"
                      alt=""
                    />
                  </div>
                  <div class="product-item-name">
                    Bình hoa chúc mừng - Nắng mới
                  </div>
                  <div class="product-item-price">3.000.000 VND</div> </a
                ><a href="facebook.com" class="product-brand-item">
                  <div class="product-item-image">
                    <img
                      src="../../../images/2-Binh-hoa-chuc-mung_Nang_moi-450x600.jpg"
                      alt=""
                    />
                  </div>
                  <div class="product-item-name">
                    Bình hoa chúc mừng - Nắng mới
                  </div>
                  <div class="product-item-price">3.000.000 VND</div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="content-right"></div>
      </div>

      <!-- Footer -->
      <div class="footer-bottom"></div>
    </div>
  </body>
</html>
