body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.header-top {
  position: sticky;
  top: 0;
  z-index: 1;
}

.content {
  margin-top: 30px;
  display: flex;
}

.content-left {
  width: 20%;
}

.content-mid {
  width: 60%;
  display: flex;
}

.content-right {
  width: 20%;
}

.content-mid-left {
  width: 20%;
}

.content-mid-right {
  width: 80%;
  padding: 0 20px;
}

img {
  width: 100%;
}

.zalo {
  width: 50px;
  position: fixed;
  left: 20px;
  bottom: 0;
}

.product-brand-header {
  width: calc(100% - 12px);
  background-color: rgb(235, 235, 235);
  padding: 5px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-top: 1px solid #f76799;
}

.product-brand-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.product-brand-item {
  width: 197px;
  height: 350px;
  border: 0.5px solid #f76799;
  padding: 10px;
  text-decoration: none;
}

.product-item-name {
  text-decoration: none;
  font-weight: 600;
  margin-top: 10px;
  font-size: 13px;
  color: black;
}

.product-item-price {
  color: red;
  font-weight: 600;
}

.product-sort {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: rgb(235, 235, 235);
  width: 100%;
  padding: 0 10px;
}

.content-left-header {
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(235, 235, 235);
  padding: 0 10px;
}

.product-sort-date {
  width: 100px;
  height: 30px;
  border: 1px solid black;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  cursor: pointer;
  background-color: white;
}

.product-sort-date.active {
  background-color: #f76799;
  color: white;
}

#price {
  width: 180px; /* Thay đổi chiều rộng */
  height: 33px; /* Thay đổi chiều cao */
  font-size: 16px; /* Kích thước chữ */
  padding: 5px; /* Khoảng cách bên trong */
}

.content-left-content {
  margin-top: 20px;
  padding: 0 10px;
}

.content-left-content-item {
  margin-top: 10px;
  font-weight: 600;
  cursor: pointer;
}

.content-left-content-item.active {
  color: #f76799;
}